<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="about">
      <h1>About Us Page</h1>
      <p class="aboutp">Nirbhay Naari is a campaign that promotes and generates awareness about women's safety, while condemning and aiming to eradicate violence against women.
        “Nirbhay Naari'' aims to make “नारी निर्भयर्भ '' and is a model that promotes and generates awareness
about women's safety, while focusing on eradicating crime against women.
also gives a forum for women to speak out against
abuse while also seeking assistance.provides a platform for women to speak out against violence while simultaneously seeking help.
      </p>
      <p class="aboutp"style="text-decoration:underline">Project made by Khushi Zawar and Salonee Velonde</p>
    </div>

</body>
</html>
