<html>
<head>
	<title> Color Me Project 1</title>
</head>

<!Style==CSS(here inline )>
<body bgcolor={{ col }}>
<center>
	<h1> Color Me 1st Version</h1>
	<form>
		<input type="submit" value="Red" style="font-size:40px;width:200px;"  name="r">
		<br><br>
		<input type="submit" value="Green" style="font-size:40px;width:200px;"  name="g">
		<br><br>
		<input type="submit" value="Blue" style="font-size:40px;width:200px;"  name="b">
		<br><br>
		
	</form>
</center>	
</body>
</html>